main {
    background-color: peachpuff;
}

h2 {
    display: flex;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.button {
    display: flex;
}

.button--button {
    align-items: center;
}